.show-interfaz-disp{
    left: 0 !important;
}
#interfaz-disponibles{
    background-color: #ffffff !important;
    position: relative;
    top: 0;
    left: -100%;
    transition: all ease-in-out 0.3s;
}
.negro-btn-disp{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
}
.h1-disp{
    color: black !important;
}




#prendas-disponibles{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    background-color: #f1f1f1 !important;
}
.card-item{
    position: relative;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 3rem;
    transition: all ease-in-out 0.3s;
}
.card-item:hover{
    transform: scale(1.01);
}
#logo-img-card{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    border-radius: 0.3rem;
}










#imagen-prenda-container{
    width: 100%;
    height: 170px;
    background-position: center;
    background-size: cover;
    border-radius: 0.4rem 0.4rem 0rem 0rem ;
}


#details-prenda{
    padding: 1rem;
}







#header-card-item b{
    color: rgb(59, 59, 59);
    letter-spacing: 0.05rem;
}



#codigo-card{
    margin-top: 1rem;
    color: rgb(148, 148, 148);
}
#codigo-card b{
    letter-spacing: 0.2rem;
    font-size: 1rem;
}


#details-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(59, 59, 59);
}


#more-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(59, 59, 59);
}



#talla-card{
    color: #666666;
    margin-bottom: 1rem;
}


#actions-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#actions-card a{
    text-decoration: none;
    color: white;
    padding: 0.4rem;
    border-radius: 0.2rem;
}
#reparacion-disp{
    background-color: #315ce7;
}
#lav-disp{
    background-color: #182427;
}
#eliminar-disp{
    background-color: #ff545c;
}




.show-message-success-consulta{
    left: 0 !important;
}
#message-success-consulta{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 8;
    background-color: #000000a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: #666666;
    transition: all ease-in-out 0.3s;
}
#container-message-success{
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
#img-message-success{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 0.5rem;
}
#img-message-success img{
    width: 100%;
    height: 100%;
}