.ver-btn-marca{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
#items-marcas{
    margin-top: 4rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-marca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    background-color: #f1f1f1;
    padding: 0.4rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}
.item-marca p{
    color: #979797;
}
.item-marca a{
    color: white;
    background-color: #b93535;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}




















#items-subcategorias{
    margin-top: 4rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-subcategoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    background-color: #f1f1f1;
    padding: 0.4rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}
.item-subcategoria p{
    color: #979797;
}
.item-subcategoria a{
    color: white;
    background-color: #b93535;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

















#items-categorias{
    margin-top: 4rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-categoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 80%;
    margin: auto;
    background-color: #f1f1f1;
    padding: 0.4rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}
.item-categoria p{
    color: #979797;
}
.item-categoria a{
    color: white;
    background-color: #b93535;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}